<% if @project_base.count > 0 %>
  <% for project in @project_base.order("name ASC").all %>
    <li><%= link_to project.name, project_path(project) %></li>
  <% end %>
<% else %>
  <li>
    No project available<br />
    <% if current_user.admin? %><%= link_to 'New project', new_project_path %><% end -%>
  </li>
<% end %>
